/*
* {
	border: 2px dotted;
}*/

html {
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
  margin: 0;
}

#header {
	height: 18%;
	display: block;
	position: relative;
}
#header p {
	line-height: 100px;
	font-family: 'Candal', sans-serif;
	font-size: 75px;
	text-align: center;
	letter-spacing: 4px;
}

.body {
	position: relative;
	/*border: 2px dotted;*/
}
.body img {
	height: 80%;
	display: block;
	margin: 0 auto;
	max-height: 100%;
	max-width: 100%;
}


input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 10px;
  color: #555;
  text-align: center;
  font-size: 10px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  box-sizing: border-box; }
.button:hover,
button:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB;
}
input[type=submit],
input[type=checkbox],
input[type=radio],
input[type=button],
div div label {
	cursor: pointer;
}

.muscle, .muscle_button {
	position: absolute;
	display: block;
}
.muscle:focus, .muscle_button:focus {
	outline: 0;
}

.highlight {
	/*-webkit-filter: grayscale(100%) saturate(3);
	filter: grayscale(100%) saturate(3);*/
	-webkit-filter: hue-rotate(220deg);
	filter: hue-rotate(220deg);
}

#deltoid {
  top: 16.2%;
  left: 34.95%;
  height: 86.5px; }
#deltoidButton {
	top: 17%;
	left: 30.4%; }

#bicep {
  top: 22%;
  left: 34.8%;
  height: 102px; }
#bicepButton {
  top: 25.5%;
  left: 31%; }
	
#forearm {
  top: 30.5%;
  left: 34.4%;
  height: 85.75px; }
#forearmButton {
  top: 34%;
  left: 29.3%; }
 
#chest {
  top: 18.2%;
  left: 36.3%;
  height: 81px; }
#chestButton {
	top: 17%;
	left: 46.5%;
}

#abdomen {
  top: 27.4%;
  left: 38.2%;
  height: 85px; }
#abdomenButton {
	top: 30%;
	left: 47%;
}

#trapezius {
  top: 9.25%;
  left: 55.07%;
  height: 130px; }
#trapeziusButton {
	top: 17%;
	left: 64.25%; }
  
#quadricep {
	top: 44.5%;
	left: 36.5%;
	height: 189px; }
#quadricepButton{
  top: 60%;
  left: 31%; }

#tricep {
	top: 21%;
	left: 52.6%;
	height: 110px; }
#tricepButton {
  top: 25%;
  left: 64.5%; }

#calves {
	top: 68.22%;
	left: 55.34%;
	height: 180px; }
#calvesButton {
  top: 75%;
  left: 62.25%; }


#hamstring {
  top: 52.5%;
  left: 55.05%;
  height: 160px; }
#hamstringButton {
  top: 60%;
  left: 62.65%; }
  
#lower{
  position: absolute;
  top: 35%;
  right: 0%; }

#upper{
  position: absolute;
  top: 25%;
  right: 0%;
}

.opt {
	border: none;
	color: black;
	text-align: center;
	text-decoration: none;
	font-size: 24px;
	background-color: #3F61AE; /* BELIZE HOLE #2980b9*/
	border-radius: 7.5px;
}

#options div {
	position: absolute;
	width: 300px;
}
#options div h3 {
	margin-top: 22.5px;
	margin-bottom: 12.5px;
	font-weight: 900;
}

#daysPerWeek {
	top: 50%;
	right: 7.5%;
	transform: translateY(-50%);
	font-family: 'Poiret One', cursive;
}
#daysPerWeek label {
	font-size: 14px;
	margin: 0px 0px 15px 0px;
	text-align: center;
	font-weight: 600;
}
#daysPerWeek form label {
	font-size: 17px;
	font-weight: 500;
}
#daysPerWeek form input[type=radio] {
	width: 1.2em;
	height: 1.2em;
}

#generateWorkout {
	top: 70%;
	right: 6.25%;
}
#generateWorkout form input[type=submit] {
	padding: 17.5px 0px;
	width: 250px;
	font-family: 'Candal', sans-serif;
	white-space: normal;
	line-height: 100%;
}
#generateWorkout form input[type=submit]:focus {
	outline: 0;
}
#generateWorkout form input[type=submit]:hover {
	background-color: #1E5D86;
}

.regular-checkbox {
	display: none;
}
.regular-checkbox + label {
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 5px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
	margin: 0px 4px;
}
.regular-checkbox + label:active, .regular-checkbox:checked + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
.regular-checkbox:checked + label {
	background-color: #e9ecee;
	/**background-color: #6991AC;**/
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
